
<section id="allHome">
  <section id="center">
    <section id="chalkBoard">
      <div id="categoryEditor">
        <form id="newCat">

          <div class="emojiCat">
            <div id="emojCatCreate">
                <div class="catEdTitle">
                  <label class="catTitle" for="emoji">Add your emoji:</label>
                  <input type="text" id="emojiBox">
                  </div>
                <div class="catEdTitle"> 
                  <label  type ="text"class="catTitle">Create category:</label>
                  <input type="text" id="name">
                  </div>
            </div>

              <div id="create">
               <button type = "submit" value = "Submit" id = "save-button">Create</button>
              </div>
          </div>
        <div id="colorList">
             <p class="sticyColor">Select a sticky color:</p>
            <div class="checkCat">
              <input class="colorPick"type ="radio" id="color1" name="color">
              <label class="colorName color1"for ="red">Magenta</label>
            </div>
            <div class="checkCat">
                <input class="colorPick"type ="radio" id="color2" name="color">
                <label class="colorName color2"for ="blue">Blue</label>
            </div>
            <div class="checkCat">
                <input class="colorPick" type ="radio" id="color3" name="color">
                <label class="colorName color3"for ="green">Teal</label>
            </div>
            <div class="checkCat">
                <input class="colorPick" type ="radio" id="color4" name="color">
                <label class="colorName color4"for ="yellow">Yellow</label>
            </div>
            <div class="checkCat">
                <input class="colorPick" type ="radio" id="color5" name="color">
                <label class="colorName color5"for ="purple">Pink</label>
            </div>
            <div class="checkCat">
                <input class="colorPick" type ="radio" id="color6" name="color">
                <label class="colorName color6"for ="purple">Chartreuse</label>
            </div>
        </div>
        </form>
            
            <script src="/js/categoryEditor.js"></script>
        </div>
      </div>
    </section>

        <aside id="biggerSticky" data-CategoryId={{bigSticky.id}} style="background-color:{{bigSticky.color}}">
      <div id="stickHead" data-CategoryId={{bigSticky.id}} >
        <h4 id="name" class="bigStickyTitle" style="pointer-events: none;">{{bigSticky.name}}</h4>
        <h4 id="emoji" style="pointer-events: none;">{{bigSticky.emoji}}</h4>
      </div>
      <ol id="remindList">
          {{#each bigSticky.Reminders as |reminder|}}
            <li class="reminders" data-ReminderId="{{id}}">
              ᐧ {{task}}{{#if isRecurring}}   (every {{numPeriods}} {{timePeriod}}(s))</i>{{/if}}  –  due: {{nextDue}}
              {{#if note}} 
                <span style="font-style:italic; color:grey">
                <br>      {{note}}
                </span>
              {{/if}}
            </li>

          {{/each}}
      </ol>

    </aside>
  </section>
  <section id="desk">
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="sticky">
        {{!-- placeholder --}}
        </div>
        <div id="addCategory">
            <h5 id="acc">Add Custom Category</h5>
        </div>
  </section>
</section>