
<section id="allHome">
  <section id="center">
    <section id="chalkBoard">
      <div id="categoryEditor">
        <form id="newCat" data-CategoryId="{{bigSticky.id}}">
          <div class="catColorDiv">
            <div id="emojCatCreate">
                <div class="catEdTitle">
                  <label class="catTitle" for="emoji">Emoji:</label>
                  <input type="text" id="emojiBox">
                  </div>
                <div class="catEdTitle"> 
                  <label class="catTitle" for="name">Category Name:</label>
                  <input type="text" id="name" required="required">
                  </div>
            </div>

            <div id="colorList">
                <p class="sticyColor">Select a sticky color:</p>
                <div class="checkCat">
                  <input class="colorPick" type ="radio" id="color1" name="color" value="color1">
                  <label class="colorName color1"for ="color1">Magenta</label>
                </div>
                <div class="checkCat">
                    <input class="colorPick"type ="radio" id="color2" name="color" value="color2">
                    <label class="colorName color2"for ="color2">Blue</label>
                </div>
                <div class="checkCat">
                    <input class="colorPick" type ="radio" id="color3" name="color" value="color3">
                    <label class="colorName color3"for ="color3">Teal</label>
                </div>
                <div class="checkCat">
                    <input class="colorPick" type ="radio" id="color4" name="color" value="color4">
                    <label class="colorName color4"for ="color4">Yellow</label>
                </div>
                <div class="checkCat">
                    <input class="colorPick" type ="radio" id="color5" name="color" value="color5">
                    <label class="colorName color5"for ="color5">Pink</label>
                </div>
                <div class="checkCat">
                    <input class="colorPick" type ="radio" id="color6" name="color" value="color6">
                    <label class="colorName color6"for ="color6">Chartreuse</label>
                </div>
            </div>
          </div>

          <div id="create">
            <button type = "submit" value = "Submit" id = "save-button">Update</button>
            <button id = "cancel-button">Cancel</button>
          </div>
        </form>
            
            <script src="/js/categoryEditor.js"></script>
        </div>
      </div>
    </section>

    <aside id="biggerSticky" class={{bigSticky.color}} data-CategoryId={{bigSticky.id}}>
      <div id="stickHead" data-CategoryId={{bigSticky.id}}>
        <h4 id="name" class="bigStickyTitle" style="pointer-events: none;">{{bigSticky.name}}</h4>
        <h4 id="emoji" style="pointer-events: none;">{{bigSticky.emoji}}</h4>
      </div>
      <ol id="remindList">
          {{#each bigSticky.Reminders as |reminder|}}
            <li class="reminders" data-ReminderId={{id}}>
              ᐧ {{task}}{{#if isRecurring}}   (every {{numPeriods}} {{timePeriod}}{{#if plural}}s{{/if}})</i>{{/if}}  –  due: {{nextDue}}
              {{#if note}} 
                <span style="font-style:italic; color:grey">
                <br>      {{note}}
                </span>
              {{/if}}
            </li>

          {{/each}}
      </ol>

    </aside>
  </section>
  <section id="desk" data-loggedIn={{loggedIn}}>
    {{#each sticky}}
      {{>sticky}}
    {{/each}}
    <script src="/js/desk.js"></script>
  </section>
</section>