<section id="allHome">
  <section id="center">
    <section id="chalkBoard">
      <div id="nextUp">
        <h2 id="chalkHeader">Welcome back {{user.name}} here's what's up next...</h2>
        <span id="lineDash"></span>
        <ol id="nextTasks">
          <li class="task" data-id="">Pet: Annual vet checkup for Fido.</li>
          <li class="task" data-id="">Car: Replace windshield wipers: frequencey
            6-12 months.</li>
          <li class="task" data-id="">House: Change air filters: frequency 3-6
            months.</li>
          <li class="task" data-id="">House: Roof inspection: frequency 2-3
            years.</li>
          <li class="task" data-id="">Pet: Trim nails: frequency 4-6 weeks.</li>
        </ol>

      </div>
    </section>

    <aside id="biggerSticky" data-CategoryId={{bigSticky.id}} style="background-color:{{bigSticky.color}}">
      <div id="stickHead">
        <h4 id="name" class="bigStickyTitle">{{bigSticky.name}}</h4>
        <h4 id="emoji">{{bigSticky.emoji}}</h4>
      </div>
      <div id="remindList">
          {{#each bigSticky.Reminders as |reminder|}}
            <li class="reminders" data-id="{{id}}">{{task}} - due: {{nextDue}} 
              {{#if isRecurring}} 
              <i>every {{numPeriods}} {{timePeriod}}(s)</i>
              {{/if}}
            </li>
          {{/each}}


      </div>

      <div id="btn">
        <button>+ Add Task</button>
      </div>

    </aside>
  </section>
  <section id="desk" data-loggedIn={{loggedIn}}>
    {{#each sticky}}
      {{>sticky}}
    {{/each}}

    <div id="addCategory">
      <h5>➕</h5>
      <h5 id="acc">Add New Category</h5>
    </div>

    <script src="/js/desk.js"></script>
  </section>
</section>