<section id="allHome">
  <section id="center">
    <section id="chalkBoard">
      <div id="nextUp">
        <h2 id="chalkHeader">Up next...</h2>
        <span id="lineDash"></span>
        <ol id="nextTasks">
          {{#each chalkBoard}}
            <li class="task" data-CategoryId={{CategoryId}} data-ReminderId={{id}} style="font-size:22px; font-weight:900;{{#if overdue}} color:#ff6989{{/if}}"><input type="checkbox" class="checkTask" data-ReminderId="{{id}}" >{{Category.name}}: {{task}} - due: {{nextDue}}</li>
          {{/each}}
        </ol>

      </div>
    </section>

    <aside id="biggerSticky" class={{bigSticky.color}} data-CategoryId={{bigSticky.id}}>
      <div id="stickHead" class="clickable" data-CategoryId={{bigSticky.id}} >
        <h4 id="name" class="bigStickyTitle" style="pointer-events: none;">{{bigSticky.name}}</h4>
        <h4 id="emoji" style="pointer-events: none;">{{bigSticky.emoji}}</h4>
      </div>
      <ol id="remindList">
          {{#each bigSticky.Reminders as |reminder|}}
            <li class="reminders clickable" data-ReminderId="{{id}}">
              <input type="checkbox" class="checkTask" data-ReminderId="{{id}}">
              {{task}}{{#if isRecurring}} (every {{numIntervals}} {{timeInterval}}{{#if plural}}s{{/if}})</i>{{/if}}   –  due: {{nextDue}}{{#if note}}
              <span style="font-size:75%; font-style:italic; color:grey;">
                      {{note}}
                </span>
              {{/if}}
            </li>
          {{/each}}
          
      </ol>
      <div id="btn" style="display:flex;  align-self: center;">
        <button id="addTask">+ Add Task</button>
      </div>

    </aside>
  </section>
  <section id="desk" data-loggedIn={{loggedIn}}>
    {{#each sticky}}
      {{>sticky}}
    {{/each}}

    <div id="addCategory">
      <h5 class="acc" style="pointer-events: none;">➕</h5>
      <h5 class="acc" style="pointer-events: none;">Add New Category</h5>
    </div>

    <script src="/js/desk.js"></script>
  </section>
      <script src="/js/dashboard.js"></script>
</section>